
<ion-content>
  <div class="padding">

    <div class="logo">
      <ion-icon color="light" name="person-add-sharp"></ion-icon>
    </div>
    
    <ion-item>
      <ion-label color="light">Noms</ion-label>
      <ion-input color="light" placeholder="Votre Nom" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Prénom</ion-label>
      <ion-input color="light" placeholder="Votre Pseudo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Login</ion-label>
      <ion-input color="light" placeholder="définir un login" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Ville</ion-label>
      <ion-input color="light" placeholder="votre ville" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Password</ion-label>
      <ion-input color="light" placeholder="Mot de passe" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light">Confirm Password</ion-label>
      <ion-input color="light" placeholder="Mot de passe" type="password"></ion-input>
    </ion-item>

    <ion-button shape="round" expand="block" routerLink="/home">Inscription</ion-button>

    <ion-item lines="none">
      <ion-label style="text-align: center;" color="light">Ou Inscrivez -vous avec</ion-label> 
    </ion-item>

    <div class="flex" shape="round">
      <ion-button>
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button>
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>
    
  </div>
</ion-content>
